
body {
    background-color: lightblue;
}

.nav-logo {
display: flex;
border: 4px solid #e88c13;
justify-content: space-between;
background-color:white;
}

.nav-logo img {
    max-width: 20%;
}

.nav-logo h1 {
    font-size: 75px;
    color:#6b500d;
    margin-top: 30px;
    font-weight: bold;
}

.nav-links {
    font-size:20px;
}

table {
    font-family: 'Assistant', sans-serif;
    border-spacing: 5px;
    border: medium solid black;
    margin: 25px auto;
}

thead, tfoot {
    border-spacing: 5px;
    border: medium solid black;
    margin: 25px auto;
}

th {
    font-weight: bolder;
    border: 1px solid black;
    padding: 10px;
    max-width: 90px;
}

thead {
    background-color: #e2a222;
    font-weight: bolder;
}

tbody td {
    background-color: #fad287;
    color: rgb(65, 64, 64);
  
}

tbody th {
    background-color: #e6d88d;
    border-right: 1px solid black;
   
}

td {
    padding: 10px;
    border: 1px solid black;
    max-width: 100px;
    color: rgb(12, 11, 11);
    font-weight:400;
}

tfoot {
    background-color: #e89762;
    font-weight :bolder;
}
   fieldset {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
   }

   #second {
    background-color: #ddcd8e; 
    text-align: center;
    border: 4px solid #9aa2b5;
    width: 1200px;
    height: 250x;
    border: 4px solid #9aa2b5;
    border-radius: 20px;
    padding: 1rem;
    box-sizing: border-box;
    margin-left: 190px;
    font-family: Arial, Helvetica, sans-serif;
  }

  #second h2, #second p{
    padding: 5px;
    margin: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 30px;
  }
  
  #second h3 {
    padding-top: 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    font-size: larger;
    color:midnightblue;

  }
  
  #second article {
    margin: 3px;
    display: inline-block;
    text-align: justify;
    border: 1px dashed black;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
}
    #second p {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: large;
        font-weight: 600;
    }
h3 {
    font-size: 10px;
    text-align: center;
    
}
   .box1 {
display: flex;
  }
  
.div1 {
    width: 700px;
    border: 4px solid #9aa2b5;
    border-radius: 20px;
    padding: 1rem;
    box-sizing: border-box;
    margin: 1rem;
    background-color: #e1bc96;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:darkblue;
}
.div2 {
    width: 700px;
    border: 4px solid #9aa2b5;
    border-radius: 20px;
    padding: 1rem;
    box-sizing: border-box;
    margin: 1rem;
    background-color: #e1bc96;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    align-items:end;
    color:darkblue;
  
  }


  #fifth{
    width: 700px;
    border: 4px solid #9aa2b5;
    border-radius: 20px;
    padding: 1rem;
    box-sizing: border-box;
    margin: 1rem;
    background-color: #e1bc96;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:600;
    color:darkblue;
  }
  #fifth img {
    width: 440px;
    height: 450px;
    height:auto;
  }
 
  .footer {
    background-color: #ddcd8e; 
    display:flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #9aa2b5;
    width:100%; 
    font-weight: 700;
   }
  
.footer-container {
    margin: 30px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:80%;
}

